In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('../../../data/Reviews_Movies.csv', delimiter = '\t', quoting = 3)

In [4]:
dataset.head()

                                              Review  Liked
0  bromwell high is a cartoon comedy . it ran at ...      1
1  story of a man who has unnatural feelings for ...      0
2  homelessness  or houselessness as george carli...      1
3  airport    starts as a brand new luxury    pla...      0
4  brilliant over  acting by lesley ann warren . ...      1